APP_NAME="UCC IT Web App"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
DB_FOREIGN_KEYS=true

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@uccit.local"
MAIL_FROM_NAME="${APP_NAME}"

HOD_NAME="Otis Osbourne"
HOD_EMAIL="ithod@ucc.edu.jm"
UCC_APPLY_URL="https://www.ucc.edu.jm/apply/undergraduate"
